@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
    .login-form-container {
        @apply flex;
        @apply justify-center;
        @apply items-center;
        @apply w-full;
        @apply h-screen;
        @apply bg-gray-100;
    }

    .login-form {
        @apply bg-gray-200 text-gray-700;
        @apply shadow-xl;
        @apply w-full m-3 pb-3;
        @apply md:max-w-[500px] md:m-0;
        @apply rounded-xl;

        h1 {
            @apply p-3 pl-5;
            @apply text-xl;
        }

        .error {
            @apply text-red-400 px-3;
        }

        .login-form-input {
            @apply pt-2 px-5;

            input {
                @apply 
                    w-full
                    h-8
                    text-gray-700
                    px-2
                    mb-2;

                @apply 
                    rounded-md
                    shadow-inner;
            }

            input:focus {
                @apply outline-none border;
            }

            input:hover {
                @apply outline-none border;
            }

            .button-container {
                @apply w-full flex justify-center items-center;
                @apply mt-2;

                .login-button {
                    @apply text-blue-500 border border-dashed border-blue-500 rounded-md;
                    @apply py-1 px-10;
                    @apply transition-all;
                }

                .login-button:focus {
                    @apply border-none;
                    @apply shadow-lg;
                }

                .login-button:hover {
                    @apply border-transparent;
                    @apply shadow-lg;
                }
            }

            .tfa-input {
                @apply h-8;
                @apply text-xl;
                letter-spacing: 0.2em;
            }
        }
    }
}